:root{
    --yellow: #FFC600;
    --magenta: #280620;
}
.landingpage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    height: 1000px;
    width: 1500px;
}
.titlebar{
    font-style: italic; 
    font-size: 40px;
    color: var(--yellow);
    margin-left: 50px;
}
.subtitlebar{
    font-style: normal;; 
    color: var(--magenta);
    margin-left: 100px;
}
.image{
    margin-top: 50px;
    margin-right: 50px;
    
}